$wite-color: rgb(255, 255, 255);
$primary-text-color: rgba(18, 20, 23, 0.5);
$main-text-color: rgb(18, 20, 23);
$main-blu-color: rgb(52, 112, 255);
$hover-blu-color: rgb(11, 68, 205);
$transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
