@import '../../styles/vars';

.wrapper {
  padding: 30px 0;
}

.text {
  font-size: 16px;
  color: $main-text-color;
}

.title {
  @extend .text;

  margin-bottom: 30px;

  text-align: center;

  font-size: 32px;
  font-weight: 700;
}

.subtitle {
  @extend .text;

  font-size: 20px;
  font-weight: 700;
}

.list {
  padding-left: 10px;
  margin-bottom: 8px;
}
