@import '../../styles/vars';

.wrapper {
  padding-top: 100px;
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  margin-bottom: 50px;
}

.text {
  font-size: 36px;
  font-weight: 700;
  color: $main-text-color;
}

.content {
  width: 30%;
  height: 30%;
  margin: 0 auto;
}
