@import '../../styles/vars';

.list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;

  background-color: $second-bgc-color;

  transition: background-color $transition-duration;

  &:hover,
  &:focus {
    background-color: $blu-text-color;
  }

  &:hover .icon,
  &:focus .icon {
    fill: $second-bgc-color;
  }
}

.icon {
  fill: $blu-text-color;

  transition: fill $transition-duration;
}
