@import '../styles/vars';

.wrapper {
  padding: 50px 0;
  min-height: 100vh;

  background-image: url('../images/girl.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.text {
  font-size: 20px;
  font-weight: 700;
  color: #10106f;
}

.title {
  @extend .text;

  margin-bottom: 150px;

  text-align: center;

  font-size: 42px;
  font-weight: 700;
}

.subtitle {
  @extend .text;

  font-size: 28px;
}

.list {
  padding-left: 10px;
  margin-bottom: 10px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 252px;
  height: 44px;

  margin: 40px auto 0;

  font-size: 20px;
  font-weight: 600;
  color: $wite-color;

  background-color: $main-blu-color;
  border-radius: 42px;

  cursor: pointer;

  transition: background-color $transition-duration;

  &:hover,
  &:focus {
    background-color: $hover-blu-color;
  }
}
