@import '../../styles/vars';

.header {
  position: fixed;
  left: 0;
  right: 0;

  z-index: 1;

  padding: 10px 0;

  border-bottom: 2px solid $bgc-color;

  background: rgb(238, 189, 71);
  background: radial-gradient(
    circle,
    rgba(238, 189, 71, 1) 10%,
    rgba(238, 238, 56, 1) 50%,
    rgba(224, 154, 14, 1) 100%
  );
}

.box {
  margin-left: 50px;

  display: flex;
  gap: 150px;
  align-items: center;
}

.logo {
  transition: scale $transition-duration;

  &:hover,
  &:focus {
    scale: 1.2;
  }
}

.navigate {
  display: flex;
  gap: 50px;
}

.link {
  padding: 6px 10px;
  font-size: 20px;
  font-weight: 700;
  color: $main-text-color;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;

  border-radius: 42px;

  transition: border-color $transition-duration, color $transition-duration;

  &:hover,
  &:focus {
    color: $second-bgc-color;
    border-color: $second-bgc-color;
  }

  &[aria-current] {
    color: $wite-color;
    border-color: $wite-color;
  }
}

.boxPhone {
  margin-left: auto;

  display: flex;
  align-items: center;
  gap: 10px;

  // transform: scale(1);

  // transition: transform $transition-duration;

  // &:hover {
  //   transform: scale(1.2);
  // }

  &:hover .icon {
    fill: $wite-color;
  }

  &:hover .phone {
    color: $wite-color;
  }
}

.icon {
  fill: $main-text-color;

  transition: fill $transition-duration;
}

.phone {
  font-size: 18px;
  font-weight: 700;
  color: $main-text-color;

  transition: color $transition-duration;
}
