@import '../../styles/vars';

.header {
  padding: 20px 0;

  border-bottom: 1px solid $primary-text-color;

  background-color: $bgc-color;
}

.navigate {
  display: flex;
  gap: 40px;
}

.link {
  padding: 6px 10px;
  font-size: 20px;
  font-weight: 700;
  color: $main-text-color;

  border-radius: 42px;

  transition: background-color $transition-duration, color $transition-duration;

  &:hover,
  &:focus {
    color: $second-bgc-color;
  }

  &[aria-current] {
    color: $wite-color;
    background-color: rgb(62, 61, 61);
  }
}
