@import '../../../styles/vars';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100dvw;
  height: 100dvh;

  overflow-y: scroll;

  backdrop-filter: blur(4px);
}

.modal {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 24px;
}
